<?xml version="1.0" encoding="UTF-8"?>

<seConfigs>
    <system>
        <development>True</development>
        <language>zh-cn</language>
        <seDir>../Framework</seDir>
        <appsDir>Apps</appsDir>
    </system>
    <router type="get">
        <appName>HelloWorld</appName>
        <controllerName>Index</controllerName>
        <actionName>index</actionName>
    </router>
</seConfigs>